<h1>All Messages</h1>
<h2> <%= "#{@percentage_coke.round(2)}% of messages have coke mentioned" if @percentage_coke %> </h2>
<table class="table">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Message</th>
      <th>Sentiment</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |m| %>
      <tr class="message">
        <th><%= m.user_handle %></th>
        <td><%= link_to m.message, message_path(m) %></td>
        <td><%= m.sentiment %></td>
      </tr>
    <% end if @messages %>
  </tbody>
</table>
